absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1637088766493/work
aenum==3.1.5
anaconda-client==1.6.14
appdirs==1.4.3
asn1crypto==0.24.0
astor @ file:///home/conda/feedstock_root/build_artifacts/astor_1593610464257/work
astunparse==1.6.3
attrs==18.1.0
Automat==0.7.0
backcall==0.1.0
bech32==1.2.0
bleach==2.1.3
certifi==2020.6.20
cffi==1.11.5
chardet==3.0.4
click==8.0.3
clyent==1.2.2
cmake==3.21.4
colorama==0.3.9
constantly==15.1.0
cryptography==2.5
cycler==0.10.0
Cython==0.29.24
dace==0.11.2
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958435052/work
decorator==4.3.0
dill==0.3.4
distro==1.6.0
entrypoints==0.2.3
Flask==2.0.2
gast @ file:///home/conda/feedstock_root/build_artifacts/gast_1636964356021/work
grpcio @ file:///D:/bld/grpcio_1624380687472/work
html5lib==1.0.1
hyperlink==18.0.0
idna==2.7
importlib-metadata==4.8.2
incremental==17.5.0
ipykernel==4.8.2
ipython==6.5.0
ipython_genutils==0.2.0
ipywidgets==7.3.1
itsdangerous==2.0.1
jedi==0.12.1
Jinja2==2.10
jsonschema==2.6.0
jupyter-client==5.2.3
jupyter-core==4.4.0
kiwisolver==1.0.1
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1637220118004/work
MarkupSafe==1.0
matplotlib==2.2.2
mistune==0.8.3
mkl-fft==1.0.0
mkl-random==1.0.1
mpmath==1.2.1
nb-anacondacloud==1.4.0
nb-conda==2.2.0
nb-conda-kernels==2.1.0
nbconvert==5.3.1
nbformat==4.4.0
nbpresent==3.0.2
networkx==2.5.1
notebook==5.6.0
numpy==1.15.0
ordereddict==1.1
packaging==21.2
pandas==0.23.3
pandocfilters==1.4.2
parso==0.3.1
pickleshare==0.7.4
ply==3.11
plyvel @ file:///D:/bld/plyvel_1619809637159/work
plyvel-wheels==1.3.0
prometheus-client==0.3.1
prompt-toolkit==1.0.15
protobuf==3.18.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.18
Pygments==2.2.0
pygraphviz==1.5
pyOpenSSL==18.0.0
pyparsing==2.2.0
PySocks==1.6.8
python-dateutil==2.7.2
pytz==2018.4
pywin32==223
pywinpty==0.5.4
PyYAML==3.13
pyzmq==17.0.0
requests==2.19.1
scikit-build==0.12.0
scipy==1.1.0
Send2Trash==1.5.0
service-identity==17.0.0
simplegeneric==0.8.1
simpy==3.0.11
six==1.11.0
sortedcontainers==2.4.0
sympy==1.9
tensorboard==1.10.0
tensorflow==1.10.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
tornado==5.0.2
traitlets==4.3.2
Twisted==17.5.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1638334978229/work
urllib3==1.23
wcwidth==0.1.7
webencodings==0.5.1
websockets==9.1
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1621518206714/work
widgetsnbextension==3.3.1
win_inet_pton==1.0.1
wincertstore==0.2
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1633302054558/work
zope.interface==4.5.0
